#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.left-part {
  width: 25%;
}

.container {
  display: flex;
  /* height: 100vh; */
}

.containeroption {
  display: flex;
}

.left-div {
  width: 25%;
  background-color: red;
}

.right-div {
  width: 75%;
  background-color: green;
}

.text {
  color: white;
  padding: 1rem;
}

.formbuttons {
  /* padding-bottom: 50%; */
  margin-bottom: 30%;
}

.editbuttonsmultichoice {
  /* padding-bottom: 50%; */
  /* font-size: small; */
  font-size: small;
  padding: 1%;

  size: 10%;
  /* margin-bottom: 30%; */
}

.buttontitlesize {
  width: 15vw;
  height: 0.5vh;
  padding: 1vh;
  /* background-color: white; */
}

.multiChoiceOptionContainer {
  display: flex;
  align-items: center; /* Vertically align items */
}
