/* Sources
[1]: https://www.geeksforgeeks.org/how-to-position-a-div-at-the-bottom-of-its-container-using-css/#
 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root { 

  --color-env: lightblue;

  /* old envelope coloor */
  /* --color-env: #0077b2; */
  /*green version*/
  /*--color-env: #00b277;*/
  --color-env-insides: darken(var(--color-env), 3%);
  --color-flap: darken(var(--color-env), 20%);
  --color-bg: lighten(var(--color-env), 48%);
  --env-border-radius: 6px;
  --form-button-size: 25;
  /* --form-button-size: 2.5; */
  --env-width: (var(--form-button-size) * 14px);
  --env-height: (var(--form-button-size) * 9px);
  --dist-letter-movement: (var(--env-height) * (14.5/18));
  /*   --white: #ffffff; */
}

.Button-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CHQ: live reload? let's go */
.leftside {
  /* width: 50%; */
  width: 20%;
  float: left;
}

.modal-label {
  font-size: 30px;
}


/* CHQ: the below worked in inheriting from Button-section: NICE */
.Button-section .leftside {
  /* width: 50%; */
  width: 20%;
  float: left;
  margin-top: 120%;
}

.rightside {
  /* width: 50%; */
  width: 80%;
  /* height: 100%; */
  float: right;
  background-color: #69e8f4;
  /* min-height: 80vh; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} 

.formbuttons {
  align-items: center;
  text-align: center; 

  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 4px;
  color: var(--color-env);
  display: inline-block;
  font-weight: bold;
  font-size: calc(var(--form-button-size) * (16/20) * 1px);
  /* font-size: calc(var(--form-button-size) * (14/20) * 1px); */
    /* padding: calc(var(--form-button-size) * (12/20) * 1px); */
    padding: calc(var(--form-button-size) * (10/20) * 1px);
  /* margin: calc(var(--form-button-size) * (12/20) * 1px); */
  margin: calc(var(--form-button-size) * (8/20) * 1px);

  /* padding: (var(--form-button-size) * (12/20) * 1px); */
  line-height: 1em;
  text-decoration: none;
 
  width: 75%; 

  cursor: pointer;  
  /* &--reset button {
    @extend .formButton;

    font-weight: 800;
    font-style: normal;
    border: solid 2px var(--color-env);
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;

    width: 100%; 
     font-size: (var(--form-button-size) * (12/20) * 1px);
   
    }
  &--reset button:hover {
    background-color: var(--color-env);
    color: #fff;
  } */
}

/* .formbuilderspace { */
  /* display: flex;
  flex-direction: column; */

.bottomSideBar{

  /* background-color: #0656f6; */

  position: absolute;
  /* bottom: 0px; */
  /* below works but I want percentages  */
  /* bottom: 20px;  */
  /* I think this is 4% the way up from the bottom */
  bottom: 4vh;
  /* the source is [X] */
}

.listWindow{
  /* position: absolute; */
  background-color: rgb(34, 240, 27);
  /* CHQ: original test */
  /* width: 20vw;  */
  width: 60vw;
  align-items: center;
  /* align-self: center; */
  justify-content: center;
  display: flex;
    text-align: center; 

  transition: all 0.1s linear;
    border-radius: 4px;
    /*  CHQ: following line is the secret sauce to get the 
    block centered in the middle of the element*/
    display: inline-block;
  /* flex-direction: column; */
  /* align-items: center; */
  /* the source is [X] */
}

.formTest{
  background-color: aliceblue;
  width: 30vw;
  display: inline-block;
}

.testThis{
  background-color: rgb(48, 223, 8);
  width: 10vw;
  /* height: 10vh; */
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.multiChoiceSubSec{
  background-color: rgb(48, 223, 8);
  width: 50%;
  /* height: 10vh; */
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.multiChoiceOptLayout{
  background-color: rgb(219, 56, 31);
  /* width: 60%; */
  display:inline-block
    /* width: 33%; */
  /* height: 10vh; */
  /* display: flex; */
  /* align-items: center; */
  /* align-self: center; */
  /* justify-content: center; */
}
.multiChoiceOptinnerLayout{
  background-color: rgb(71, 206, 41);
  width: 60%;
  /* height: 10vh; */
  /* display: flex; */
  /* align-items: center; */
  /* align-self: center; */
  /* justify-content: center; */
}

.multiChoiceOptinnerLayout .left{
  float: left;
}  

.multiChoiceOptinnerLayout .right{
  float: right;
}

/* [AS] */
.multiChoiceOptionSection {
  /* background-color: aqua; */
  /* float: left; */
  background-color: rgb(219, 56, 31);
  /* height: 15vh; */

  /* height: 5vh; */
  height: 5vh;
  /* width: 7.5vw; */
  /* CHQ: auto works poorly */
  /* width: auto; */
  display: inline-block;
  margin: 0 1.5%;
  /* width: 50%; */
  /* width: 25%; */
  /* width: 12.5%; */
  width: 20%;
}

.isNowVisible{
  margin: 0 1.5%;
  display: inline-block;
  width: 5vw;
  /* font-size: 10px; */
  /* font-size: 100%; */
  font-size: 20px;
  visibility: visible;
  /* visibility: hidden; */
}
.isNowHidden{
  margin: 0 1.5%;
  width: 0vw;
  display: inline-block;

  /* visibility: visible; */
  visibility: hidden;
}

.testMe{
  display: inline-block;
  width: 1vw;
  /* CHQ: doesn't add much */
  /* font-size: 20px; */
  /* setting width to 5% pushes "Edit options" downward */
  /* width: 5vw; */
}
